{% load static %}
<h1>Images</h1>

<table border="1">
<thead>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
</thead>
<tbody>
    <div class="container">
        {% for book in object_list %}
        <h2>
            <ul style="list-style: none;">
                <li><img class='img-responsive' src='{{ book.name.url}}' /></li>
                <li>{{ book.pages }}</li>
            </ul>
        </h2>
        {% endfor %}
    </div>
</tbody>
</table>
